@import '@economist/component-balloon';
@import '@economist/component-icon';
@import './settings';
@import './user-menu';
@import './search';
@import './mobile-menu';
@import './main-navigation';
@import '@economist/component-typography';
@import '@economist/component-icon/backgrounds/apps.css';
@import '@economist/component-icon/backgrounds/close.css';
@import '@economist/component-icon/backgrounds/film.css';
@import '@economist/component-icon/backgrounds/headset.css';
@import '@economist/component-icon/backgrounds/magnifier.css';
@import '@economist/component-icon/backgrounds/radio.css';
@import '@economist/component-icon/backgrounds/user.css';
@import '@economist/component-icon/backgrounds/video.css';

.navigation {
  font-family: var(--fontfamily-sans);
  font-size: 1rem;
}

/* stylelint-disable selector-no-type */

.navigation .balloon > span {

  /* stylelint-enable selector-no-type */

  display: inline-block;
  height: 100%;
}
/* stylelint-enable */

.navigation__more .list {
  column-count: 1;
}

.navigation__more .sections-card__list-sections,
.navigation__more .sections-card__list-blogs {
  max-width: 40%;
}

/* stylelint-disable */
.navigation a:hover {
/* stylelint-enable */
  cursor: pointer;
}

.navigation__primary-expander {
  width: 100%;
  flex: 0 1 auto;
}

.navigation__secondary-inner {
  text-align: right;
  background: var(--color-berlin);
}

.navigation__main-sections-card .balloon {
  position: static;
}

@media (--navigation-mobile-up) {
  .navigation__link-logo {
    min-width: 128px;
  }
}

.navigation__link-logo {
  height: var(--navigation__default-height);
}

.navigation__primary .navigation__main-sections-card .balloon--content {
  /* Stop this from being taller than screen */
  overflow-y: auto;
  max-height: calc(100vh - var(--navigation__default-height));
}

.navigation .balloon--not-visible {
  overflow: hidden;
}

@media (--navigation-mobile-up) {
  .navigation__main-navigation-link:hover,
  .navigation__main-navigation-link-button:hover {
    filter: grayscale(100%) brightness(5) brightness(80%);
  }
}
