@import '@economist/component-typography';
@import './settings';
@import '@economist/component-sections-card';

:root {
  --icon-height: 28px;
  --main-navigation-link-padding: 2em;
}

.navigation__main-navigation-link,
.navigation__main-navigation-link-button {
  display: block;
  height: var(--navigation-height);
  padding: 0 var(--main-navigation-link-padding);
  color: var(--navigation-link-color);
  font-size: var(--navigation-text-size);
  line-height: var(--navigation-height);
  text-decoration: none;
  white-space: nowrap;

  @media(--navigation-mobile-up) {
    height: var(--navigation-desktop-height);
    line-height: var(--navigation-desktop-height);
  }

  @media (--navigation-tablet-down) and (--navigation-mobile-up) {
    padding-right: var(--main-navigation-link-padding-mobile, 1.8em);
    padding-left: var(--main-navigation-link-padding-mobile, 1.8em);
  }
}

/* Using specificity of 2 because component-icon overrides entire background property */

.navigation__main-navigation-link-button.link-button {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: var(--main-navigation-link-icon-size, 24px) var(--main-navigation-link-icon-size, 24px);
}

.navigation__main-navigation-link-button {
  padding-right: calc(var(--main-navigation-link-padding) + var(--main-navigation-icon-link-padding-nudge, -0.2em));
  padding-left: var(--main-navigation-link-icon-padding, 30px);

  @media (--navigation-tablet-down) and (--navigation-mobile-up) {
    /* stylelint-disable */
    /* Shut up stylelint, this is beautiful. */
    padding-right: calc(
      var(--main-navigation-link-padding-mobile, 1.8em) + var(--main-navigation-icon-link-padding-nudge, -0.2em)
    );
    /* stylelint-enable */
  }
}

.navigation__main-navigation-link-label {

  @media (--navigation-small-mobile-down) {
    display: none;
  }
}

@media (--navigation-small-mobile-down) {
  .navigation .navigation__main-navigation-link-subscribe {
    display: none;
  }
}

@media (--navigation-small-mobile-up) {
  .navigation .navigation__mobile-accordion-link--subscribe {
    display: none;
  }
}

.navigation__main-sections-card .balloon-content {
  right: 0;
  left: 0;
  padding: 3em 0;
}

.navigation__primary-inner .navigation__main-sections-card {
  position: static;
}

.navigation__main-navigation-link--not-visible .balloon-content {
  display: none;
}

.navigation__main-navigation--desktop {

  @media (--navigation-mobile-down) {
    /* stylelint-disable */
    display: none !important;
    /* stylelint-enable */
  }
}

/* stylelint-disable selector-no-universal */

.navigation__main-navigation-link > * {

  /* Some links are balloons, so they have children, which is why we need to reset this. */

  line-height: normal;
}

/* stylelint-enable selector-no-universal */

.navigation__main-navigation-link {
  display: flex;
  align-items: center;
}

.navigation__primary {
  display: table;
  width: 100%;
  height: var(--navigation-height);
  line-height: 1em;
  background: var(--color-kiev);

  @media(--navigation-mobile-up) {
    height: var(--navigation-desktop-height);
  }
}

/* stylelint-disable declaration-block-no-duplicate-properties, selector-no-universal */

.navigation__primary-inner {
  display: table-row;
  display: flex;
  height: var(--navigation-height);

  @media (--navigation-mobile-up) {
    height: var(--navigation-desktop-height);
  }
}

.navigation__primary-inner > * {
  display: table-cell; /* IE9 Flexbox fallback */
  display: flex;
  vertical-align: middle;
  /* Required by IE */
  flex: 1 0 auto;
}

/* stylelint-enable declaration-block-no-duplicate-properties, selector-no-universal */

.navigation__user-menu {

  @media (--navigation-small-mobile-down) {
    padding: 0;
  }
}

/* Specificity of 2 to override media query in link-button */

.navigation__main-navigation-link-button.navigation__main-navigation-link--search {
  padding-right: 30px;
}

.navigation__user-menu-link.link-button--icon-background {

  @media (--navigation-small-mobile-down) {
    /* Ensure tappability and consistency with other icons. */
    box-sizing: border-box;
    min-width: 64px;
    padding: 0;
    /* Center the background icon to the <A>. */
    background-position: center;
  }
}

.navigation__user-menu .balloon {

  @media (--navigation-small-mobile-down) {
    /* We need to position the balloon in relationship to the navigation. */
    position: static;
  }
}

.navigation__user-menu .balloon-content {

  @media (--navigation-small-mobile-down) {
    /* Let's use all the available room in small devices. */
    /* stylelint-disable */
    right: 0 !important;
    /* stylelint-enable */
    left: 0;
  }
}

