@import 'settings';
@import '@economist/component-google-search';

.navigation__search {
  display: table-row;
  right: 10px;
  left: auto;
  border-collapse: collapse;
  font-size: 1em;
  background: var(--navigation-search-color, var(--color-thimphu));
}

.navigation__search .google-search {
  /* Override width: 100% */
  width: auto;
  /* Override default border-top. We'll do it if we want. */
  border-top: none;
}

.navigation__search-magnifier,
.navigation__search .google-search,
.navigation__search-close-button-wrapper {
  display: table-cell;
}

.navigation__search--top-of-page .navigation__search-magnifier,
.navigation__search--top-of-page .google-search {
  border-top: 1px solid var(--color-berlin);
}

/* Using specificity of 2 because component-icon CSS overrides the entire "background" property */

.navigation__search .navigation__search-magnifier.icon--background,
.navigation__search .navigation__search-close-button {
  width: var(--navigation-height);
  height: var(--navigation-height);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: var(--search-close-icon-size, 24px) var(--search-close-icon-size, 24px);

  @media(--navigation-mobile-up) {
    width: var(--navigation-desktop-height);
    height: var(--navigation-desktop-height);
  }
}

.navigation__search--inline .google-search {
  width: 100%;
}

.navigation__search--inline .gsc-input {

  /* The same distance as the one between the compass and the right edge of the screen */

  margin-left: calc(calc(var(--navigation-height) / 2) - calc(var(--search-close-icon-size, 24px) / 2));

  @media(--navigation-mobile-up) {
    margin-left: calc(calc(var(--navigation-desktop-height) / 2) - calc(var(--search-close-icon-size, 24px) / 2));
  }
}

.navigation__search--inline .navigation__search-magnifier {
  min-width: var(--navigation-height);

  @media(--navigation-mobile-up) {
    min-width: var(--navigation-desktop-height);
  }
}

.navigation__search-close-button-wrapper {
  width: var(--navigation-height);
  color: var(--search__color, var(--color-thimphu));
  background-color: var(--search-close__background, var(--color-kiev));

  @media(--navigation-mobile-up) {
    width: var(--navigation-desktop-height);
  }
}

.navigation__search-close-button {
  display: block;
}

.navigation__search .error--message {
  color: var(--color-economist);
}

