@import '@economist/component-link-button';
@import 'settings';

.navigation__user-menu-link--logout,
.navigation__user-menu-link--login {
  outline: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navigation__user-menu .balloon-content {
  right: -100px;
  min-width: 320px;
  padding: 2em 2em 1.5em 2em;
  font-size: 0.8em;
  line-height: initial;
  text-align: center;
}

.navigation__user-menu-popup--anonymous .balloon-content {
  padding: 20px;
}

.navigation__user-menu-log-in-button {
  clear: both;
  display: block;
  margin: 0 auto 2em;
  padding:
    var(--navigation__user-menu-log-in-button-padding-vertical, var(--grid-spacing-rabbit))
    var(--navigation__user-menu-log-in-button-padding-vertical, var(--grid-gutter-xl));
  color: var(--navigation__user-menu-log-in-button-color, var(--color-thimphu));
  font-weight: bold;
  text-align: center;
  background: var(--navigation__user-menu-background-color, var(--color-chicago));
}

.navigation__user-menu-linklist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__user-menu-linklist-item {
  display: block;
  text-align: left;
}

.navigation__user-menu-linklist-item:not(:first-child) {
  margin-top: 1em;
}

.navigation__user-menu-linklist-link {
  color: var(--navigation__user-menu-linklist-link-color, var(--color-kiev));
  text-decoration: none;
}

.navigation__user-menu-linklist-link:hover {
  color: var(--navigation__user-menu-linklist-link-hover-color, var(--color-chicago));
}

.navigation__user-menu-linklist-link--cta {
  color: var(--navigation__user-menu-linklist-link-cta-color, var(--color-chicago));
  font-weight: bold;
}

.navigation__user-menu-linklist-link--cta:hover {
  color: var(--navigation__user-menu-linklist-link-cta-hover-color, var(--color-beijing));
  text-decoration: none;
}

.navigation__user-menu .balloon {
  display: flex;
}

@media (width <= 1000px) {
  .navigation__user-menu .balloon-content {
    /* stylelint-disable */
    right: -40px !important;
    /* stylelint-enable */
  }
}

.navigation__user-menu-the-economist-name {
  font-style: italic;
}
